.DS_Store
.classpath
.project
.settings/
.factorypath
.tern-project
.apt_generated/
.apt_generated_test/
.buildpath
**/.DS_Store
/.apt_generated_tests/
nb-configuration.xml
.idea
*.iml
generated/
.vscode/
**/.vs
/.metadata/
*.code-workspace

**/build/artifacts
debug.log